
<div class="zddx_nav_box">
    <div class="zddx-left">
        <div class="left-top">
            <div class="top-search-box">
                <input type="text" placeholder="搜索"/>
                <a href="javascript:;"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <ul class="herf-btn clearfix">
            <li><a href="../html/重庆重点对象-重点事件-分组管理.html"><i class="fa fa-users"></i>分组管理</a></li>
            <li><a href="../html/重庆重点对象-添加重点事件.html"><i class="fa fa-plus"></i>添加事件</a></li>
        </ul>
       
        <div class="list-box">
                <ul class="plista_sj">
                        <li class="<%= local.Djk?'active':'' %>">
                            <a href="../html/重庆重点对象-重点事件.html" class="fz16">事件总汇</a>
                            <div class="operate-boxa">
                                    <em class="operate-morea pull-right"><i class="fa fa-ellipsis-v"></i></em>
                                    <ul class="operate-btns clearfix">
                                        <li class="pull-left"><a href="../html/重庆重点对象-编辑重点事件.html"><i class="fa fa-pencil"></i>编辑</a></li>
                                        <li class="pull-left"><a href="###"><i class="fa fa-times"></i>删除</a></li>
                                    </ul>
                                </div>
                        </li>   
                        <li class="<%= local.zdsjbr?'active':'' %>">
                            <a href="../html/重庆重点对象-重点事件-暴乱事件.html" class="fz16">暴乱事件</a>
                            <div class="operate-boxa">
                                    <em class="operate-morea pull-right"><i class="fa fa-ellipsis-v"></i></em>
                                    <ul class="operate-btns clearfix">
                                        <li class="pull-left"><a href="../html/重庆重点对象-编辑重点事件.html"><i class="fa fa-pencil"></i>编辑</a></li>
                                        <li class="pull-left"><a href="###"><i class="fa fa-times"></i>删除</a></li>
                                    </ul>
                                </div>
                        </li>   
                        <li >
                            <a href="../html/重庆重点对象-重点事件-暴乱事件.html" class="fz16">暴乱事件</a>
                            <div class="operate-boxa">
                                    <em class="operate-morea pull-right"><i class="fa fa-ellipsis-v"></i></em>
                                    <ul class="operate-btns clearfix">
                                        <li class="pull-left"><a href="../html/重庆重点对象-编辑重点事件.html"><i class="fa fa-pencil"></i>编辑</a></li>
                                        <li class="pull-left"><a href="###"><i class="fa fa-times"></i>删除</a></li>
                                    </ul>
                                </div>
                        </li>   
                    </ul>
        </div>

    </div>


    <div class="leftnavbar leftnavbar1 menu-box">
        <div class="navtop">
            <div class="menu"><i class="fa fa-navicon"></i></div>
        </div>
        <div class="nicescroll">
            <ul class="menu-li">
                <li class="<%= local.gxt?'active':'' %>">
                    <a href="../html/重庆重点对象-重点关系图.html">
                        <div><img src="../images/cqdnk/guanxi.png" alt=""></div>
                        <em class="fz16">重点关系网</em>
                    </a>
                </li>
                <li class="<%= local.zdr?'active':'' %>">
                        <a href="../html/重庆重点对象-重点人-事业人物.html">
                        <div><img src="../images/cqdnk/guanzhu.png" alt=""></div>
                        <em class="fz16">重点人</em>
                    </a>
                </li>
                <li class="<%= local.gqgz?'active':'' %>  zdzd-nav">
                        <a href="重庆重点对象-重点阵地-网站2.html">
                            <div><img src="../images/cqdnk/mudidi.png" alt=""></div>
                            <em class="fz16">重点阵地</em>
                        </a>
                    </li>
                <li class="<%= local.zdsj?'active':'' %>">
                    <a href="../html/重庆重点对象-重点事件.html">
                        <div><img src="../images/cqdnk/shijian.png" alt=""></div>
                        <em class="fz16">重点事件</em>
                    </a>
                </li>
               
               
            </ul>
        </div>
    </div>

</div>
